<div class="contenedor seccion">
  <h1 class="text-center text-uppercase">Modificacion de Propiedades</h1>
  <a href="/propiedades/propiedadesPage" class="boton boton-verde">Volver</a>
  <form
    class="formulario"
    action="/propiedades/propiedadesPage/modificarPropiedades"
    method="post"
    enctype="multipart/form-data"
  >

    <fieldset>
      <input type="hidden" value="{{propiedades.Id}}" name="id" />

      <legend>Informacion General</legend>
      <label for="titulo">Titulo :</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        value="{{propiedades.titulo}}"
      />

      <label for="titulo">Subtitulo :</label>
      <input
        type="text"
        id="subtitulo"
        name="subtitulo"
        value="{{propiedades.subtitulo}}"
      />

      <label for="precio">Precio :</label>
      <input
        type="number"
        id="precio"
        name="precio"
        value="{{propiedades.precio}}"
      />

      <label for="imagen">Imagen :</label>
      <input
        type="file"
        id="imagen"
        name="imagen"
      >
      <div class="modificacion-imagen">
          {{{propiedades.imagen}}}
        </div>
      <p class="d-flex">
         <label>
          Eliminar imagen actual ?</label>
          <input
        type="checkbox"
        id="img_delete"
        name="img_delete"
        value="1">
      </p>
        <input type="hidden" name="img_original" value="{{propiedades.imagen}}">

      
     

      <label for="descripcion">Descripcion :</label>
      <textarea
        type="textarea"
        id="descripcion"
        name="descripcion"
        placeholder="Descripcion narrativa"
      >{{propiedades.descripcion}}
      </textarea>
    </fieldset>

    <fieldset>
      <legend>Vendedor</legend>
      <select name="value">
        {{#each vendedor}}
          {{#if (equals vendedorId ../propiedades.vendedorId)}}
            <option value="{{vendedorId}}" selected="true">{{nombre}}
              {{apellido}}</option>
          {{else}}
            <option value="{{vendedorId}}">{{nombre}} {{apellido}}</option>
          {{/if}}
        {{/each}}
      </select>
    </fieldset>

    <input
      type="submit"
      value="Modificar Propiedad"
      class="boton boton-verde w-auto"
    />

  </form>
  {{#if error}}
    <p class="alert alert-danger text-center" role="alert">

      {{message}}
    </p>
  {{/if}}

</div>