<div class="contenedor mt-5">
  <div class="row">
    <p class="text-end fs-3 fw-bold ms-1">Bienvenido
      {{email}}
      <a
        href="/admin/login/logout"
        class="boton boton-amarillo text-uppercase fs-5 fw-bold m-4 p-3 shadow"
      >
        Salir
        <i class="bi-box-arrow-right"></i>
      </a>
    </p>
  </div>
  <div class="row">
    <div class="col-7">
      <h3 class="fs-3 text-uppercase fw-bold">Vendedores Activos</h3>
    </div>
    <div class="col-5 text-end">
      <a
        href="/vendedores/vendedoresPage/agregarVendedores"
        class="btn btn-success fs-5 text-uppercase fw-bold mb-2"
      >
        <i class="bi-plus" aria-hidden="true"></i>
        Nuevo
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each vendedores}}
            <tr>
              <th scope="row">{{vendedorId}}</th>
              <td data-titulo="Nombre">{{nombre}}</td>
              <td data-titulo="Apellido">{{apellido}}</td>
              <td data-titulo="Telefono">{{cell}}</td>
              <td data-titulo="Email">{{email}}</td>
              <td class="text-end">
                <a
                  href="/vendedores/vendedoresPage/modificarVendedores/{{vendedorId}}"
                  class="btn btn-secondary mb-1"
                >
                  <i class="bi-pencil-square"></i>
                </a>
                <a
                  href="/vendedores/vendedoresPage/eliminarVendedores/{{vendedorId}}"
                  class="btn btn-secondary mb-1"
                >
                  <i class="bi-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>